/* best at 1024px size */
:root {
    --gunmetal: #153243;
    --indigo: #284b63;
    --mint: #adf1d2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", sans-serif;
    color: var(--indigo);
    background-color: var(--mint);
}

/* start header style */
header {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    background-image: url(../images/banner-image.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    /* margin: auto;
    padding: 10px 50px; */
}

header span {
    font-weight: 100;
    font-size: 28px;
}

header a {
    text-decoration: none;
    color: var(--mint)
}

header nav {
    margin: 7px 0;
}

header h1 {
    font-size: 48px;
    color: var(--mint);
    font-weight: 500;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

/* Add pseudo classes to change color of nav links when hovering */
header nav ul li a:hover {
    background-color: var(--mint);
    color: var(--indigo);
    border-radius: 20%;
}
/* end header style */

.container {
    padding: 20px 50px;
}

.flex-row {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

footer {
    display: flex;
    justify-content: center;
}

#contact-me ul li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#contact-me ul li a {
    text-decoration: none;
    color: var(--indigo);
    padding-bottom: 10px;
}
/* Add pseudo class to change color of contact links when hovering */
#contact-me ul li a:hover {
    opacity: 65%;
}

#about-me img {
    width: auto;
    height: 180px;
    padding: 0 0 0 40px;
}

.flex-row p {
    width: 60%;
}

.flex-row h2 {
    width: 20%;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80%;
    padding: auto;
}

.work-image {
    margin: 0.5em;
    padding: 0;
}

.work-image img {
    min-height: 9em;
    max-height: 9em;
}

.work-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* Add pseudo class to make images of my work transparent when hovering */
.work-image:hover {
    opacity: 65%;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* MEDIA QUERIES FOR 768px AND SMALLER */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #about-me h2 {
        padding-right: 20px;
        width: 30%;
    }

    .flex-row p {
        width: 50%;
    }

    .work-image img {
        min-height: 7em;
        max-height: 7em;
    }

    #contact-me h2 {
        padding-right: 20px;
        width: 30%;
    }

    header nav ul li a {
        font-size: medium;
    }
}


/* MEDIA QUERIES FOR 425px AND SMALLER */
@media screen and (max-width: 425px) {
    header nav ul li a {
        font-size: 14px;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }

    .flex-row img {
        min-height: auto;
    }

    .flex-cards img {
        width: 100%;
    }

    #about-me h2 {
        width: auto;
        padding-bottom: 10px;
    }

    #about-me p {
        width: 100%;
        padding-bottom: 20px;
    }

    #about-me img {
        align-items: center;
        padding: 0 0 25px 0;
    }

    #contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact-me h2 {
        width: 100%;
        padding: 0;
    }

    .contact-info {
        display: flex;
        margin: 0;
    }

    .contact-link {
        justify-content: space-between;
        width: 100%;
    }
}